# Byte-compiled / optimized
__pycache__/
*.py[cod]


# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg
target/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Sphinx documentation
docs/_build/

# Node, npm, yarn
npm-debug.log*
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
*~
*#
*.log
.DS_Store
/dump.rdb
/supervisord.pid
log


# APP Specific
backend_server.js
spotty/static
